<!DOCTYPE html>
<html>
    <head>
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body>
        <div id="app" class="app" style="padding-top: 97px;" v-cloak>
            <header class="header">
                <div class="header__add-product">
                    <input v-model="newProduct" type="text" id="add" placeholder="Dodaj produkt" class="form-control" @keypress.enter="addProduct" />
                    <button disabled="disabled" class="ico-btn ico-btn--white" @click.prevent="addProduct">
                        <icon sprite-id="add-to-list" />
                    </button>
                </div>
                <div class="tabs">
                    <router-link to="/list" tag="div" class="tabs__tab">Lista <span>({{ listProducts.length }}/{{ totalListCount }})</span></router-link>
                    <router-link to="/products" tag="div" class="tabs__tab">Produkty ({{ products.length }})</router-link>
                </div>
            </header>
            <div class="main">
                <div class="container">
                    <div class="lists">
                        <div class="lists__wrapper">
                            <router-view />
                        </div>
                    </div>
                </div>
            </div>
            <div class="message message--error" v-if="errorMessage">{{ errorMessage }}</div>
        </div>
    </body>
</html>
